@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .container {
    @apply relative overflow-hidden w-full;
  } */
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}